<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.hrcommon.mapper.OrderMapper">
    <select id="customPage" resultType="top.continew.admin.hrcommon.model.resp.OrderResp">
        select DISTINCT bo.id,
               bo.order_no,
               bo.product_id,
               bp.name as productName,
               bo.product_num,
               bo.status,
               bo.cost_points,
               bo.cancel_time,
               bo.finish_time,
               bo.remark,
               bo.update_time,
               bo.update_user,
               bo.create_user,
               bo.create_time,
               su.nickname as customerName,
               su2.nickname AS updateUserString
        from biz_order bo
            left join biz_product bp on bo.product_id = bp.id
            left join sys_user su on bo.create_user = su.id
            left join sys_user su2 ON bo.update_user = su2.id
            ${ew.customSqlSegment}
        order by bo.status asc, bo.create_time desc
    </select>
    <select id="countByProductInCurrentMonth" resultType="java.lang.Integer">
        SELECT
            COALESCE(SUM(t1.product_num), 0)
        FROM biz_order AS t1
        WHERE t1.product_id = #{productId}
        AND t1.status in (1,2,3)
        AND t1.deleted = 0
        AND YEAR(t1.create_time) = YEAR(CURRENT_DATE())
        AND MONTH(t1.create_time) = MONTH(CURRENT_DATE())
    </select>

    <select id="apiCustomPage" resultType="top.continew.admin.hrcommon.model.resp.OrderResp">
        select DISTINCT
               bo.id,
               bo.order_no,
               bo.product_id,
               bp.name as productName,
               bo.product_num,
               bo.status,
               bo.cost_points,
               bo.remark,
               bo.create_time
        from biz_order bo
            left join biz_product bp on bo.product_id = bp.id
        ${ew.customSqlSegment}
        order by bo.create_time desc
    </select>

    <select id="customList" resultType="top.continew.admin.hrcommon.model.resp.OrderResp">
        select DISTINCT
               bo.id,
               bo.order_no,
               bo.product_id,
               bp.name as productName,
               bo.product_num,
               bo.status,
               bo.cost_points,
               bo.remark,
               bo.create_time,
               su.nickname as customerName,
               su2.nickname AS updateUserString
        from biz_order bo
            left join biz_product bp on bo.product_id = bp.id
            left join sys_user su on bo.create_user = su.id
            left join sys_user su2 ON bo.update_user = su2.id
        ${ew.customSqlSegment}
        order by bo.status asc, bo.create_time desc
    </select>
</mapper>