<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.hrcommon.mapper.ProductMapper">
    <select id="customPage" resultType="top.continew.admin.hrcommon.model.resp.ProductResp">
        select distinct
               bp.id,
               bp.name,
               bp.image,
               bp.points,
               bp.description,
               bp.create_user,
               bp.create_time,
               bp.update_time,
               bp.update_user,
               bp.is_shelf,
               bp.month_limit,
               su.nickname as updateUserString,
               bp.type_id,
               su2.nickname as createUserString
            from biz_product bp
        left join sys_user su on bp.update_user = su.id
        left join sys_user su2 on bp.create_user = su2.id
                ${ew.customSqlSegment}
        order by bp.create_time desc
    </select>
</mapper>