<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.hrcommon.mapper.SuggestionMapper">


    <select id="customerPage" resultType="top.continew.admin.hrcommon.model.resp.ApiSuggestionResp">
        SELECT
            t1.id,
            t1.tag,
            t1.content,
            t1.create_time as createTime,
            t1.create_user as createUser
        FROM biz_suggestion t1
            ${ew.customSqlSegment}
    </select>
</mapper>